@import "tailwindcss";

body {
  margin: 0;
  background-color: #1E1E1E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow__node {
  padding: 0;
  border-radius: 0;
  border: none;
  background: transparent;
  font-size: 14px;
}

.react-flow__node.selected {
  box-shadow: none !important;
}

.react-flow__node:focus {
  outline: none;
}

.react-flow__node:focus-visible {
  outline: none;
}

.react-flow__edge-path {
  stroke: #ffffff;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: #ffffff;
}
